# Özel hata sayfaları
ErrorDocument 404 /404.html
ErrorDocument 500 /50x.html
ErrorDocument 502 /50x.html
ErrorDocument 503 /50x.html
ErrorDocument 504 /50x.html

# WOFF2 font tanımı
AddType font/woff2 .woff2

# Fontları cache'le (1 yıl)
<FilesMatch "\.(woff2)$">
  Header set Cache-Control "public, max-age=31536000, immutable"
</FilesMatch>
